# Dependencies
node_modules/

# Nuxt build
.nuxt/
.output/
dist/

# Env — NUNCA commitar
.env
.env.*
!.env.example

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/
